<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <gcServer enabled="true"/>
    </runtime>
    <system.web>
        <authentication mode="Forms">
            <forms loginUrl="~/Authentication/Login.cshtml" timeout="2880" defaultUrl="~/Home/Index.cshtml" />
        </authentication>
    </system.web>
</configuration>